.banner{
    position: relative;
}
.banner-content{
    position: absolute;
    margin: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.logo-banner{
    max-width: 100%;
    width: 600px;
}
.title-banner{
    font-size: 28px;
    color: #FFF;
    margin: 30px 0;
}
.btn-banner{
    display: inline-block;
    background-color: #735184;
    padding: 20px 30px;
    border-radius: 15px;
    color: #FFF;
}